<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart_page_style.css}"/>
</head>

<body>
<header>
    <div class="container header-content">
        <div class="logo">МАГАЗИН</div>
        <div class="cart">
            <a class="header_button" th:href="@{/product}">Каталог </a>
            <a class="header_button" th:href="@{/cart}">Корзина</a>
        </div>
    </div>
</header>
<div class="container" >
    <div class="cart-container">
        <div class="cart-items" id = "order-list">
            <div class="order-item" th:each="order : ${orders}">
                <div>
                    <a class="cart-title" th:text="${'Заказ №'+order.getId()} " th:href="${'/orders/'+order.getId()}"/>
                    <span class="status-block " th:text="'    '+ ${order.geStatusName()}" th:href="${'/orders/'+order.getId()}"></span>
                </div>
                <div th:each="product : ${order.getProducts()}">
                    <h3 th:if="${product != null}" class="order-description" th:text="${product.getTitle()} + ' ('+${product.getCount()} + ' шт.) '+ ${product.getTotalPrice()} +' руб.'"></h3>
                </div>
                <div class="summary-details">
                    <div class="summary-row">
                        <b class="item-price" th:text="${'Сумма: '+order.getTotalPrice()}+' руб.'"></b>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

</html>