<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}"/>




</head>

<body>
<header>
    <div class="container header-content">
        <div class="logo">МАГАЗИН</div>
        <div class="cart">
            <a class="header_button" th:href="@{/orders}">Заказы </a>
            <a class="header_button" th:href="@{/cart}">Корзина</a>
        </div>
    </div>
</header>
<div class="container">
    <div class="filters">
        <form method="get" th:action="@{/product}">
            <input type="text" class="search-box" placeholder="Поиск товаров..." name="search" th:value="${filter.getSearch()}">
        </form>
            <div class="filter-controls">
                <form method="get" th:action="@{/product}">
                <select id="price-filter" name="sort" onchange="this.form.submit()">
                    <option value="title asc" th:selected="${filter.getSort() == 'title asc'}">Сортировка по алфавиту &blacktriangle;</option>
                    <option value="title desc" th:selected="${filter.getSort() == 'title desc'}">Сортировка по алфавиту &blacktriangledown;</option>
                    <option value="price asc" th:selected="${filter.getSort() == 'price asc'}">Сортировка по цене &blacktriangle;</option>
                    <option value="price desc" th:selected="${filter.getSort() == 'price desc'}">Сортировка по цене &blacktriangledown;</option>
                </select>
                </form>
                <div class="items-per-page">
                    <form method="get" th:action="@{/product}">
                        <span>Товаров на странице:</span>
                        <select id="items-per-page" name="size" onchange="this.form.submit()">
                            <option value="5" th:selected="${paging.size == 5}">5</option>
                            <option value="10" th:selected="${paging.size == 10}">10</option>
                            <option value="20" th:selected="${paging.size == 20}">20</option>
                        </select>
                    </form>
                </div>
            </div>
    </div>
    <div class="pagination" id="pagination" th:if="${paging.totalPages > 1}">
        <!-- Пагинация будет добавлена через JavaScript -->
            <nav aria-label="Page navigation" class="pagination">
                <ul class="pagination">
                    <div class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/product(page=${paging.number - 1})}" aria-label="Previous" th:text="'←'" />
                    </div>
                    <div class="page-item" th:each="i : ${#numbers.sequence(0, paging.totalPages - 1)}" th:classappend="${paging.number == i} ? 'active'">
                        <a class="page-link" th:href="@{/product(page=${i})}" th:text="${i + 1}"></a>
                    </div>
                    <div class="page-item" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product(page=${paging.number + 1})}" aria-label="Next" th:text="'→'" />
                    </div>
                </ul>
            </nav>
    </div>

    <div class="products-grid" id="products-container" >
        <div class="product-card" th:each="product : ${products}">
            <a th:href="@{/product/{productId}(productId=${product.getId()})}">
                <img th:src="${product.getImageUrl()}" class="product-image">
            </a>
            <div class="product-info">
                <a th:href="@{/product/{productId}(productId=${product.getId()})}">
                    <h3 class="product-title" th:text="${product.getTitle()}" ></h3>
                </a>
                <div class="product-price" th:text="${product.getPrice()}+' руб.'"></div>
                <div class="product-actions">
                    <div th:if="${product.getItemId() != null}" class="quantity-controls">
                        <form th:action="@{/cart/item/{id}/edit(id=${product.getItemId()}, redirectTo = 'product')}" method="post">
                            <button class="quantity-btn" name ="quantity" value="-1" >-</button>
                            <span class="quantity" th:text="${product.getCount()}"></span>
                            <button class="quantity-btn" name ="quantity"  value="1">+</button>
                        </form>
                    </div>

                    <form th:if="${product.getItemId() != null}" th:action="@{/cart/item/{id}/delete(id=${product.getItemId()}, redirectTo = 'product')}" method="post">
                        <button  class="remove-from-cart">Удалить</button>
                    </form>
                    <form th:if="${product.getItemId() == null}"  th:action="@{/cart/{productId}/addItem(productId=${product.getId()}, redirectTo = 'product')}" method="post">
                        <button class="add-to-cart" >В корзину</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>