<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart_page_style.css}"/>
</head>

<body>
<header>
    <div class="container header-content">
        <div class="logo">МАГАЗИН</div>
        <div class="cart">
            <a class="header_button" th:href="@{/product}">Каталог </a>
            <a class="header_button" th:href="@{/orders}">Заказы </a>
            <a class="header_button" th:href="@{/cart}">Корзина</a>
        </div>
    </div>
</header>
<div class="container" >
    <div class="cart-container">
        <div class="cart-items">
            <div id = "order-title">
                <a class="cart-title" th:text="${'Заказ № '+order.getId()}"></a>
                <span class="status-block " th:text="'    '+ ${order.geStatusName()}" ></span>
            </div>

            <div class="cart-item" th:each="product : ${order.getProducts()}">
                <a th:href="@{/product/{productId}(productId=${product.getId()})}">
                    <img th:src="${product.getImageUrl()}" alt="Товар" class="item-image"/>
                </a>
                <div class="item-details">
                    <a th:href="@{/product/{productId}(productId=${product.getId()})}">
                        <h3 class="item-name-product" th:text="${product.getTitle() + ' ( ' + product.getCount() +' шт. )'}"></h3>
                    </a>
                    <div class="item-price" th:text="${product.getTotalPrice()}+' ₽'"></div>
                    <h3 class="item-block">Описание</h3>
                    <div class="item-description" th:text="${product.getDescription()}"></div>

                </div>
            </div>
            <div class="summary-details">
            <div class="summary-row">
                <span  class= "cart-title" th:text="'Сумма заказа:   ' + ${order.getTotalPrice()} + '₽'"></span>
            </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>