<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart_page_style.css}"/>
    <title>Страница товара</title>
</head>

<body>
<header>
    <div class="container header-content">
        <div class="logo">МАГАЗИН</div>
        <div class="cart">
            <a class="header_button" th:href="@{/product}">Каталог </a>
            <a class="header_button" th:href="@{/orders}">Заказы </a>
            <a class="header_button" th:href="@{/cart}">Корзина</a>
        </div>
    </div>
</header>
<div class="container">
    <div class="cart-container">
        <div class="cart-items">
            <h2 class="cart-title">Товар</h2>
            <div class="cart-item">
                <img th:src="${product.getImageUrl()}" alt="Товар" class="item-image-product" />
                <div class="item-details" id = "item">
                    <h3 class="item-name-product" th:text="${product.getTitle()}"></h3>
                    <div class="item-price" th:text="${product.getPrice()}+' ₽'"></div>
                    <h3 class="item-block">Описание</h3>
                    <div class="item-description" th:text="${product.getDescription()}"></div>
                    <div class="item-actions">
                        <div th:if="${product.getItemId() != null}" class="quantity-controls">
                            <form th:action="@{/cart/item/{id}/edit(id=${product.getItemId()}, redirectTo = 'product/{productId}')}" method="post">
                                <button class="quantity-btn" name ="quantity" value="-1" >-</button>
                                <span class="quantity" th:text="${product.getCount()}"></span>
                                <button class="quantity-btn" name ="quantity"  value="1">+</button>
                            </form>
                        </div>

                        <form th:if="${product.getItemId() != null}" th:action="@{/cart/item/{id}/delete(id=${product.getItemId()}, redirectTo = 'product/{productId}')}" method="post">
                            <button  class="remove-from-cart">Удалить</button>
                        </form>
                        <form th:if="${product.getItemId() == null}"  th:action="@{/cart/{productId}/addItem(orderId=${orderId}, productId=${product.getId()}, redirectTo = 'product/{productId}')}" method="post">
                            <button class="add-to-cart" >В корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>